{% extends "base.html" %}
    {% load static %}
    {% block style %}

        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" 
        />
    {% endblock %}

  <!-- <title>Django REST with React</title>-->

    {% block content %}

        <body>


        <div id = 'main'>
            <div id="app">
                <!-- React will load here -->
            </div>
        </div>

        </body>
    {% endblock %}


    {% block js %}

        <script src="{% static "frontend/main.js" %}"></script>

    {% endblock %}


